.btn-margin {
  margin: 7px 3px;
}
.not-home {
  background-color: #ffffff;
}

.home-page .large-text {
  margin-top: 6%;
  font-size: 70px;
}

.home-page img {
  max-height: 100px;
}

* {
  font-family: "Lato", sans-serif;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.modal.fade {
  -webkit-transition: opacity 0.1s linear;
  -moz-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}

legend {
  margin-top: 40px;
}

.table > tbody {
  overflow: scroll;
}

.livecart {
  margin: 0 auto;
  float: none;
}

table.pos tbody tr td input {
  border: none;
  background: transparent;
  width: 100%;
  border-bottom: 1px dashed black;
  text-align: center;
}

table.pos tbody tr td input:focus {
  outline-color: transparent;
}

table.pos tbody tr td input::-webkit-outer-spin-button,
table.pos tbody tr td input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

table.receipt > tbody > tr > td,
table.receipt > tfoot > tr > td {
  padding: 10px;
}

h4.current-page {
  margin-top: 30px;
  margin-bottom: 20px;
}

nav-menu {
  float: none;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

nav-menu h1 {
  font-size: 50px;
}

ul.nav-menu {
  margin-top: 25px;
  margin-bottom: 45px;
}

ul.nav-menu li {
  display: inline;
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: underline;
}

ul.nav-menu li a {
  list-style-type: none;
  display: inline;
}

ul.nav-menu li a.active {
  font-style: italic;
  color: #999;
}

ul.nav-menu li a h3 {
  display: inline;
}

.checkout-total-price {
  display: inline-flex;
  font-size: 35px;
  letter-spacing: 1px;
}

#checkoutPaymentAmount {
  font-size: 23px;
  font-weight: bold;
}
#checkoutModal .form-group {
  float: none;
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 50%;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}
#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

.posTable {
  max-width: 990px;
  display: table;
}

.Select-input {
  height: 70px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.Select-control {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.Select-arrow-zone,
.Select-clear-zone {
  display: none !important;
}

.Select-value-label {
  font-size: 47px;
  line-height: 57px;
}

#react-select-2--value-item {
  line-height: 57px;
}

.Select-placeholder {
  font-size: large;
}

#search {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: unset !important;
}

.tableContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableFoot {
  background-color: #ee3837;
  color: black;
  font-weight: 600;
}

@media print /*--This is for Print--*/ {
  .btn {
    display: none;
  }
  .tble {
    background-color: #cd853f;
    border: 1px solid green;
    -webkit-print-color-adjust: exact;
    /*above line of codes will set the table background-color and change the border color when we give the print and preview (print preview only when we see on print preview via browser) command*/
  }
  #search {
    display: none;
  }
}

.mainDiv {
  display: flex;
  justify-content: center;
}

.mainChild {
  width: 50%;
}
.fixed_header {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody {
  display: block;
  width: 100%;
  overflow: auto;
  height: 600px;
}

.fixed_header thead tr {
  display: block;
}

.fixed_header thead {
  background: #ee3837;
  color: #fff;
}

.fixed_header th.time,
.fixed_header td.time {
  width: 350px;
  text-align: left;
  padding: 5px;
}
.fixed_header th.total,
.fixed_header td.total {
  width: 200px;
  text-align: left;
  padding: 5px;
}
.fixed_header th.products,
.fixed_header td.products {
  width: 200px;
  text-align: left;
  padding: 5px;
}
.fixed_header th.open,
.fixed_header td.open {
  width: 200px;
  text-align: left;
  padding: 5px;
}

.customBox {
  padding: 5px;
  border: 2px solid gray;
  margin: 0;
}

.fixed_header_pos {
  /* width: 100%; */
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header_pos tbody {
  width: 100%;
  overflow: auto;
  height: 200px;
}

.fixed_header_pos thead tr {
  display: block;
}

.fixed_header_pos thead {
  background: #ee3837;
  color: #fff;
  display: table-caption;
}

.fixed_header_pos th.name,
.fixed_header_pos td.name {
  width: 300px;
  text-align: left;
  padding: 5px;
}
.fixed_header_pos th.unitPrice,
.fixed_header_pos td.unitPrice {
  width: 100px;
}
.fixed_header_pos th.quantity,
.fixed_header_pos td.quantity {
  width: 100px;
  text-align: left;
}
.fixed_header_pos th.quantityAvailable,
.fixed_header_pos td.quantityAvailable {
  width: 200px;
  text-align: left;
}
.fixed_header_pos th.tax,
.fixed_header_pos td.tax {
  width: 50px;
  text-align: left;
}
.fixed_header_pos th.total,
.fixed_header_pos td.total {
  width: 100px;
  text-align: left;
}
.fixed_header_pos th.delete,
.fixed_header_pos td.delete {
  width: 80px;
  text-align: left;
}
